<app-logo-navbar></app-logo-navbar>
<section id="checkout" class=" bg-slate-100 h-screen">


    <div class="pt-28 max-w-[80rem] mx-auto flex items-center ">

        <div class="bg-white mx-auto rounded-xl p-36">

            <div>
                <div class="mx-auto text-center flex justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="blue" class="md:w-32 md:h-32">
                        <path fill-rule="evenodd"
                            d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                    <div class="flex justify-center flex-col">
                          <h1 class="text-2xl md:text-5xl font-bold text-center mb-5 text-gray-800">Order Complete</h1>
                <a class="text-center mx-auto hover:underline text-lg text-blue-900 font-bold mt-4" [routerLink]="['../account/orders']">View orders</a>
             
                    </div>
             </div>




        </div>

    </div>
</section>