<!-- The Modal -->
<div>
  <div id="modal-content" class="bg-white h-[100%] w-[100%] mx-auto rounded-xl">
    <div class="grid grid-cols-1 md:grid-cols-2 mx-auto flex-1 gap-6 p-4">
      <ng-container
        *ngIf="product && product.variations && product.variations?.[0]?.productImages && product?.variations?.[0]?.productImages?.[0]?.imageUrl"
      >
        <img
          class="w-96 h-96 mx-auto rounded-xl object-contain"
          [src]="selectedProductVariation.productImages[0].imageUrl"
          alt=""
        />
      </ng-container>

      <div class="flex-1 h-full flex flex-col justify-between">
        <div>
          <!--            <p *ngIf="variation?.quantity > 7" style="font-size: .7rem" class="p-2 py-1 bg-emerald-200 w-max uppercase rounded">IN STOCK</p>-->
          <app-out-of-stock *ngIf="selectedProductVariation.quantity === 0"/>

          <h2 class="font-bold mt-2 text-2xl">{{ product?.name }}</h2>
          <!--          <small>456 g</small>-->
        </div>

        <div class="border p-4 md:w-max rounded-2xl mt-2">
          <div
          class="mb-4 mx-auto flex space-x-14"
            *ngIf="product && product.variations && product.variations?.[0]"
          >
            <p class="font-bold mb-5 text-2xl">
              {{ selectedProductVariation.price | currency : "EUR" }}
            </p>
            <button
            *ngIf="product.variations.length > 1"
            (click)="toggleVariationSelect()"
            class="w-60 h-min px-2 mx-auto  inline-flex p-2 relative rounded-xl text-slate-600 py-2 bg-slate-100 text-sm hover:bg-slate-200"
          >
            <span class="flex-1">{{
              selectedProductVariation.variationName
            }}</span>
            <svg
              class="w-4"
              id="Layer_1"
              style="enable-background: new 0 0 512 512"
              version="1.1"
              viewBox="0 0 512 512"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <path
                d="M98.9,184.7l1.8,2.1l136,156.5c4.6,5.3,11.5,8.6,19.2,8.6c7.7,0,14.6-3.4,19.2-8.6L411,187.1l2.3-2.6  c1.7-2.5,2.7-5.5,2.7-8.7c0-8.7-7.4-15.8-16.6-15.8v0H112.6v0c-9.2,0-16.6,7.1-16.6,15.8C96,179.1,97.1,182.2,98.9,184.7z"
              />
            </svg>
          </button>
          <ul *ngIf="isVariationOpened"
          class="absolute z-50 w-60 rounded-xl shadow-2xl p-2 bg-slate-100 bottom-1">
          <li (click)="onSelectProductVariation(variation)" [ngClass]="
              selectedProductVariation.id === variation.id
                ? 'bg-black text-white'
                : 'hover:bg-slate-200 '
            " class="p-1 cursor-pointer rounded px-2" *ngFor="let variation of product.variations">
            {{ variation.variationName }}
          </li>
        </ul>
          </div>
          <div class="mt-auto relative flex flex-col xl:flex-row gap-4">
            <ul
              *ngIf="isQuantityOpened"
              class="absolute left-6 right-0 z-50 w-60 rounded-xl shadow-2xl p-2 bg-slate-100 top-16"
            >
              <li
                [ngClass]="
                  selectedQuantity === quantity
                    ? 'bg-black text-white'
                    : 'hover:bg-slate-200 '
                "
                class="py-3 rounded px-2"
                (click)="selectQuantity(quantity)"
                *ngFor="let quantity of quantities"
              >
                {{ quantity }}
              </li>
            </ul>
            <button
            *ngIf="!isInCart || selectedQuantity > 0"
              (click)="toggleQuantitySelect()"
              class="w-60 rounded-xl mx-auto py-4 bg-slate-100 text-xl hover:bg-slate-200"
            >
            {{ selectedQuantity === 0 ? 1 : selectedQuantity }}
            </button>

            <button *ngIf="isInCart && selectedQuantity === 0" (click)="toggleQuantitySelect()"
            class="w-60 items-center inline-flex relative rounded-xl mx-auto px-6 py-4 bg-slate-100 text-xl hover:bg-slate-200">
            <span class="flex-1"> {{ productQuantity }} in cart </span>
            <svg class="w-4" id="Layer_1" style="enable-background: new 0 0 512 512" version="1.1"
              viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <path
                d="M98.9,184.7l1.8,2.1l136,156.5c4.6,5.3,11.5,8.6,19.2,8.6c7.7,0,14.6-3.4,19.2-8.6L411,187.1l2.3-2.6  c1.7-2.5,2.7-5.5,2.7-8.7c0-8.7-7.4-15.8-16.6-15.8v0H112.6v0c-9.2,0-16.6,7.1-16.6,15.8C96,179.1,97.1,182.2,98.9,184.7z" />
            </svg>
          </button>
            <button
            *ngIf="isInCart && selectedQuantity !== 0" 
              (click)="addToCart()"
              class="w-60 rounded-xl py-4 mx-auto bg-gray-900 text-xl text-white hover:bg-black"
            >
              Update
            </button>
            <button
              *ngIf="!isInCart"
              (click)="addToCart()"
              class="w-60 rounded-xl py-4 mx-auto bg-gray-900 text-xl text-white hover:bg-black"
            >
              Add to cart
            </button>
          </div>
          <button
            class="flex items-center mt-4 justify-center mx-auto hover:bg-slate-100 p-2 px-3 rounded-xl"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 512 512"
            >
              <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"
              />
            </svg>
            <p class="font-bold text-center ml-2">Add to wishlist</p>
          </button>
        </div>
      </div>
    </div>

    <div class="p-6 mt-3">
      <app-extra-product-list
        [title]="'Related Products'"
        [products]="subCategoryProducts"
      ></app-extra-product-list>
    </div>
  </div>
</div>
