<div class="relative z-[99999] flex-1 mx-auto w-[100%]">
    <span class="absolute pointer-events-none bottom-5  md:top-4 left-3 right-9 text-slate-400">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd"
                d="M10.5 3.75a6.75 6.75 0 100 13.5 6.75 6.75 0 000-13.5zM2.25 10.5a8.25 8.25 0 1114.59 5.28l4.69 4.69a.75.75 0 11-1.06 1.06l-4.69-4.69A8.25 8.25 0 012.25 10.5z"
                clip-rule="evenodd" />
        </svg>
    </span>

    <form (submit)="onSubmit($event)">

        <input
        autocomplete="off"
        id="searchProduct"
        [formControl]="inputControl"
        (blur)="onBlur($event)"
        (click)="openSearchPanel()"
        [ngClass]="isMobile ? 'border z-[99999] my-2 py-2 w-[100%] rounded-xl pl-9 px-6 border-gray-200 bg-slate-50 mx-auto'
        : 'shadow-md border p-3 w-[100%] rounded-2xl pl-9 px-6 border-gray-200 bg-slate-50 mx-auto'"
        type="text"
        placeholder="Search for food items">

    </form>

    <!-- Search Results  -->
    <app-search-results-panel [isMainSearchInput]="isMainSearchInput" (pickResult)="setSelectedResult($event)" [results]="productResults"
        *ngIf="isSearchPanelOpen">
    </app-search-results-panel>

</div>
